a {
  text-decoration: none;
  color: black;
}

.header {
  width: 80%;
  height: 3rem;
  margin: 1rem 10%;
}

.header_title {
  float: left;
  width: 20rem;
  font-size: 2rem;
  line-height: 3rem;
}

.header_title:hover {
  cursor: pointer;
}

.header_tab {
  float: right;
  width: 8rem;
  line-height: 3rem;
  border-right: 1px solid black;
  text-align: center;
}

.header_tab_last {
  border: none;
}

.header_tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header_tab_selected {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}


p.midashi {
  font-size: 20px;
  color: orange;
  background-color: ;
}
p.midashi1{
  font-size: 30px;
  color: darkorange;
  background-color: ;
}


p.midashi3{
  font-size: 30px;
  color: darkorange;
  background-color: ;
}

span.time {
  font-size: 15px;
  color: pink;
  background-color: ;
}



.top{
  background-color: ;
  width:100%;
  height:100%;
}
.topleft{
  float: left;
  width:50%;
  height:20%;
  
}
.topright{
  float: left;
  width:50%;
  height:20%;
  
}