a {
  text-decoration: none;
  color: black;
}

.header {
  width: 80%;
  height: 3rem;
  margin: 1rem 10%;
}

.header_title {
  float: left;
  width: 20rem;
  font-size: 2rem;
  line-height: 3rem;
}

.header_title:hover {
  cursor: pointer;
}

.header_tab {
  float: right;
  width: 8rem;
  line-height: 3rem;
  border-right: 1px solid black;
  text-align: center;
}

.header_tab_last {
  border: none;
}

.header_tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header_tab_selected {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

#title {
  text-align: center;
  color: #A38560;
}

.waku-big {
  background-color: #DD6E42;
  /*margin: 20px 0 20px 0;*/
  padding: 1px 0 1px 0;
}

.waku {
  list-style: none;
  text-align: center;
}

.moji {
  display: inline-block;
  width: 10%;
}

.moji:hover {
  background-color: #A38560;
}

.text-white {
  color: white;
}

.contents {
  background-color: #E8DAB2;
  text-align: center;
}

.contents-wrap {
  width: 300px;
  margin: 0 auto;
}

.contents-small {
width: 300px;
border-style: none;
}

.contents-small tr{
  width: auto;
}

.no_border {
  border-style: none;
}
